
.body-customer {
  width: 100%x;
  height: fit-content;
  margin: 0px auto;
 
}

.body-admin {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}

.but{
  box-shadow: #013179 2px 2px 0 0;
}
.but:hover{
  transform: translateY(-5px);
  transition: all 0.5s;
  box-shadow: #0047b3  2px 2px 0 0;
  transform: translate(2px, 2px);

}
.buttonStylelogin{
    border-Radius: 15px;
      margin: 10px 0;
      padding: 10px;
      background-Color: rgb(118, 74, 188);
      color: white;
      border: none;
      width: 100%;
      cursor: pointer;
      text-Align: center;
   
}
@keyframes scrollUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.scroll-animation {
  animation: scrollUp 1s;
}
@keyframes scrollRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.scroll-animation2 {
  animation: scrollUp 2s;
}
@keyframes scrollRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.scroll-animation3 {
  animation: scrollUp 3s;
}
@keyframes scrollRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.scroll-animation-right {
  animation: scrollRight 1s;
}


.hoverr{
  color:rgb(92,92,93);
  text-decoration: none;
  font-weight: 500;
}
.hoverr:hover{
  transform: translateY(-5px);
  transition: all 0.5s;
}
.hoverrr:hover{
  transform: translateY(-4px);
  transition: all 0.9s;
}
.footer-links li{
  padding: 5px;
}
.compo{
  /* margin-bottom: 60px; */
}
div.inline {
  display: inline-block;
}

.inline:hover{
  transform: translateY(-5px);
  transition: all .3s cubic-bezier(0,0,.5,1);
 
}
figure.caption-right {
  display: flex;
  align-items: center;
}
.align-center {
  width: fit-content;
  /* margin: 0px auto; */
  margin:10%
}

.align-centerr {
  width:fit-content;
  /* margin: 0px auto; */
  margin-left :310px;
  
}
.text-centerr{
  margin-left :310px;
}
.align-valign-center {
  position: absolute;
  top: 50%;
  left: 450%;
  transform: translate(-50%, -50%);
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
}
.text-center {
  text-align: center;
  font-size:30px;
  font-weight: 750;
  color: #1d1d1f;
  margin-top:10px;
  font: bold;
  
  /* margin-right: 150px; */
}

span.link {
  
  cursor: pointer;
  color: rgb(119, 0, 255);
  text-decoration: underline;
}
/* menu.css */
div.border-bottom {
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 0px;
}
div.float-left {
  float: left;
  margin-left: 10px;
}
div.float-right {
  float: right;
  margin-right: 10px;
}
div.float-clear {
  clear: both;
}
ul.menu {
  margin: 0px;
  padding: 0px;
}
li.menu {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
  color: #f5f5f5;
}
form.search {
  margin: -8px;
}
input.keyword {
  width: 110px;
}
.font{
  font-weight: 600;
}
/* datatable.css */
.datatable {
  text-align: center;
  border-collapse: collapse;
}
/* header */
tr:first-child.datatable {
  background-color: rgb(234,234,234);
  color:rgb(92,92,93);
 
}
/* even rows, except header */
tr:not(:first-child):nth-child(even).datatable {
  background-color: #fff;
}
tr:not(:first-child):nth-child(even).datatable:hover {
  transform: translateX(-5px);
  transition: all 0.5s;
}
/* odd rows, except header */
tr:not(:first-child):nth-child(odd).datatable {
  background-color: #f8f6ff;

}

tr:not(:first-child):nth-child(odd).datatable :hover{
  transform: translateX(-5px);
  transition: all 0.5s;
}
/* except header */
tr:not(:first-child):hover.datatable {
  background-color: #dcfcfc;
  cursor: pointer;
}
tr:not(:first-child):hover.datatable:hover {
  transform: translateX(-5px);
  transition: all 0.5s;
}
.menu-toggle{
  display: none;
}
.overlay{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  inset: 0;
  background: #0000006b;
  transition-property: opacity, visibility ;
  
}
.menuStyle {
  display: flex;
  background-color: #eaeaea;
  padding: 10px;
  list-style-type: none;
  /* width: 100%; */
  }


.mySwiper{
  width: 95%;
    height: 550px;
  margin:4% auto;
  margin-bottom: 5%;
border: none
 }
 .banner {
 width: 95%;
    height: 550px;
    border: none;
 }
 .imageStyle {
  width: 105%;
  height:550px;
  border: none;
 }

  .hotrespon{
    margin-left: 41%;
    font-size:30px;
  font-weight: 750;
  color: #1d1d1f;
  font: bold;
  }
  .fullbox{
    margin:10px;
    padding:15px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius:18px;
    height: 29.41176rem;
    margin-left:20px;
    background-color:white;
  }
  .fullboxdetail{
    /* margin:90px; */
    padding:20px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius:18px;
    height: 29.41176rem;
    /* margin-left:20px; */
    background-color:white;
    /* margin-left:350px; */
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .test{
    display:flex;
    justify-content:space-around;
    margin:10px;
    padding:25px;
    width: 96.8%;
    margin-left: 10px;
    /* border-radius:18px; */
    background-color:rgb(234,234,234);}
    .container{
      /* margin-top: 10%; */
    }
 
    .fullorderlist {
      border-Radius: 15px;
      padding: 20px;
      background-color: white;
      width: 1026px;
      margin: 108px auto 406px auto;
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
      /* margin-top: 20px; */
      height: 570px;
  }
  .tableorderlist{
    border: 1px solid #fff;
      margin:auto;
      width:1000px;
      font-size:15px;
      margin-bottom:10%;
  }
  .fullorderlist3{
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 20px;
    background-color: white;
    width: 1050px;
    margin:166px auto 0 auto;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    /* margin-top: 25px; */
    height: 370px;
  }
  .fullorderlist2{
    border-radius: 15px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    padding: 20px;
    background-color: white;
    width: 1050px;
    margin: 0 auto 250px auto;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    /* margin-top:25px; */
    height:250px;
  }
   .tableorderlist2{
    border: 1px solid #fff;
    margin-left: 57px;
    width: 942px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .fullboxlistproduct{
    margin:10px;
    padding:20px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius:18px;
  }
  .cardStyle{
    border-radius:15px;
    padding:30px;
    background-color:white;
    width:300px;
    margin:0 auto 100px auto;
    box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
    margin-top:8%;
    }
    .cardStyleforsignup{
      border-radius:15px;
      padding:30px;
      background-color:white;
      width:300px;
      margin:0 auto;
      box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
      margin-top:2%;
      }
    
    .signup{
      position: relative;
      right: 15%;
    }
    .spanrespon{
      font-size: 17px;
      }
      .spanpricerespon{
        font-size: 17px;
        color: red;
      }
      .buttonStyle{
       border-radius: 5px;
       margin: 10px 0;
       padding: 10px;
       background-color: #0047b3;
       color: white;
       border: none;
       width: 55%;
       cursor: pointer;
       text-align: center;
      }
      .movingitemlist{
        margin-left:43%;
      }
      .movingorderlist{
        margin-left:43%;
      }
      .textcenterespon{
        font-size: 20px;
      }
      .inputStyle  {
        border-radius: 5px;
        margin: 10px 10px 10px 0; 
        padding: 8px;
        border: 1px solid #ccc;
        width: 100%; 
        box-sizing: border-box;
      
      }
      .menuItemStyle{
        margin-right: 20px;
        color: #5c5c5d; 
        text-decoration: none; 
        list-style-type: none; 
        margin-left:20px;
        font-weight:500;
        }
        .text{
          font-weight:700;
          font-size:17px;
          margin:5px;
          text-transform:uppercase;
          margin-left:40px;
        }
        .compo{
          margin-right:90px;
          margin-top: 30px;
        }
        .cardStylemyprofile{
          border-radius: 15px;
          padding: 30px;
          background-color: white;
          width: 350px;
          margin: 0 auto;
          box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
          margin-top:5%;
          }
          .movemyprofile{
            margin-left:45px;
          }
          .truncate-text {
            /* margin-top: 10px; */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .wrapper {
            display: grid;
            grid-template-columns: 340px 340px 340px;
            /* grid-template-rows: 550px 550px 550px; */
           justify-content: center;
           gap:  10px;
        }
          
      .imagerespon{
        width: 200px;
        height: 200px;
      }
      .description-container {
        max-width: 300px; /* Giới hạn chiều cao của phần mô tả */
        overflow: hidden; 
        word-break: break-all;
      }
   
      .flex-item {
        /* CSS cho phần bên trái của header (Trang chủ, Trang sản phẩm, Giỏ hàng) */
       display: flex;
      }
       .testforflex{
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: space-between;
      }
      .flex-item a{
        margin-left: 20px;
        font-size: 20px;
        margin-top: 15px;
        font-weight: 600;
      }
      .flex-item {
        margin-left: 10px;
        font-size: 20px;
        /* margin-top: 10px; */
      }
    
      .moving{
        padding-top: 3.8%;
      }
      .flex-item span{
        margin-top: 17px;
        font-size: 30px;
        font-weight: 600;
      }
      .account{
        font-size: 20px;
      }
      .menu-content {
   
        display: none;
        position: absolute;
        background-color: #fff; /* Màu nền của menu dropdown */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng cho menu dropdown */
        top: 100%; /* Hiển thị menu dropdown ở dưới */
        left: 0;
        z-index: 2; /* Đặt z-index cao hơn để menu dropdown hiển thị trên các phần khác */
        width: 380%;
        border-radius: 10px;
        padding: 10px
        /* margin-top: 5px; */
        /* height: 100%; */
      }
       .menu-content::before{
        content:"";
        border-width: 20px 27px;
        border-style: solid;
        border-color:transparent transparent #ffff transparent;
        position: absolute;
        right: 124px;
        top: -30px;
        }
      .header-right {
        display: flex;
        justify-content: flex-end;
      }
      .search{
        margin: 10px 10px 10px 0; 
        padding:11px;
        border: 1px solid #ccc;
        /* margin-right: 30px; */
        width: 270px;
        font-size:15px;
        border-radius: 3px;
        border: none;
        
      }
      .contentcss{
        text-decoration: none;
        color: black;
        display: flex;
        padding: 3%;
      }
      .moving2{
        display: none;
      }
      .menu-dropdown2{
        display: none;
      }
      .menu-toggle2{
        display: none;
      }
      .sidebar {
        width: 250px;
        background: #f2f2f2;
        /* padding: 20px; */
        height: 120vh;
      }
      .productList{
        flex: 1;
        margin: 20px auto;
        /* padding: 20px; */
      }
      .gmapmove{
        margin-top: 4%;
        font-size: 15px;
        color: #ffff;
        text-decoration: none;
      }
      .iframe{
        margin-left: 20px;
        width: 90%;
        height: 100vh;
      }
      .flexgmap{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .hover-effect {
        color: #333; /* Màu chữ mặc định */
        transition: color 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển đổi màu chữ và vị trí */
        display: inline-block;
      }
  
      .hover-effect:hover {
        color: #9f9b9b; /* Màu chữ khi hover vào */
        transform: translateX(-5px); /* Lệch sang trái 5px khi hover vào */
      }
      .pp{
        color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 90px auto 410px auto;
      }
/* >=992 => Desktop 
<992px và >=768px => Tablet
<768px => Mobile
*/

@media (max-width: 1277px) and (min-width:768px){
  .pp {
    font-size: 25px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 165px auto 557px 75px;}
  .flexgmap{
    position: relative;
    left: 3%;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .buttonStyle{
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    background-color: #0047b3;
    color: white;
    border: none;
    width: 65%;
    cursor: pointer;
    text-align: center;
   }
  .menu-content::before{
    content:"";
    border-width: 20px 27px;
    border-style: solid;
    border-color:transparent transparent #ffff transparent;
    position: absolute;
    right: 144px;
    top: -30px;
    }
  .iframe{
    margin-left: 20px;
    width: 600px;
    height: 600px;
  }
  .productList{
    flex: 1;
    /* padding: 20px; */
  }
  .search-bar{
    margin-left: 35px;
  }
  .sidebar {
    padding: 5px;
    width: 21px;
    background: #ffffff;
    height: 70vh;
  }
  .flex-item span{
    font-size: 30px;
    font-weight: 600;
    margin-top: -4px;

  }

  .contentcss{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 3%;
  }
  .search {
    margin: 10px 10px 10px 10px;
    padding: 11px;
    border: 1px solid #ccc;
    /* margin-right: 30px; */
    width: 210px;
    font-size: 15px;
    border-radius: 3px;
    border: none;
}
  .menu-content {
   
    display: none;
    position: absolute;
    background-color: #fff; /* Màu nền của menu dropdown */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng cho menu dropdown */
    top: 100%; /* Hiển thị menu dropdown ở dưới */
    left: 0;
    z-index: 2; /* Đặt z-index cao hơn để menu dropdown hiển thị trên các phần khác */
    width: 70%;
    border-radius: 10px;
    padding: 10px
    /* margin-top: 5px; */
    /* height: 100%; */

  }

  .menu-dropdown{
    margin-left: 20px;
  }
  
  .moving2{
    display: block;
    padding-top: 8%;

  }
  .moving{
display: none;  }
  .flex-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
  .flex-item a{
    padding: 10px;
    font-size: 20px;
  }
   .header-right{
    margin-top: 280px;
    font-size: 18px; 

    /* margin-left: 10px;  */
   }
  .wrapper {
    display: grid;
    grid-template-columns: 240px 240px 240px;
    /* grid-template-rows: 250px 250px; */
   justify-content: center;
   position: relative;
   left: 4%;
  }
  @keyframes scrollUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .scroll-animation {
    animation: scrollUp 1s;
  }
  @keyframes scrollRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .scroll-animation2 {
    animation: scrollUp 2s;
  }
  @keyframes scrollRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .scroll-animation3 {
    animation: scrollUp 3s;
  }
  @keyframes scrollRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .scroll-animation-right {
    animation: scrollRight 1s;
  }
  .compo{
    margin-right:70px;
    margin-top: 30px;
  }
  .but{
    box-shadow: #0b042a 2px 2px 0 0;
  }
  .but:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
    box-shadow: #ffffff  2px 2px 0 0;
    transform: translate(2px, 2px);
  
  }
  
  .hoverr{
    color:rgb(92,92,93);
    text-decoration: none;
    font-weight: 500;
  }
  .hoverr:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
  }
  .hoverrr:hover{
    transform: translateY(-4px);
    transition: all 0.9s;
  }
  .menuItemStyle{
    margin-right: 20px;
    color: #e0e0e0; 
    text-decoration: none; 
    list-style-type: none; 
    margin-left:20px;
    font-weight:500;
    }
    .menuItemStyle:hover{
      transform: translateX(-5px);
      transition: all 0.5s;
    }
  .body-customer {
    width: 100%;
    height: fit-content;
    margin: 0px auto;
   
  }
  div .menurespon2{
    width: 103% ;
  }
  .menu-toggle{
    display: block;
    font-size: 2.5rem ;
  }

  div.menurespon{
    
    display: block;
    min-width: 319px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #282828;
    translate:-100%;
    transition: translate 0.4s ease;
    z-index: 1;
  }
  div.menurespon li{
    padding-bottom: 30px;
  }
  .ul{
    display: flex;
    flex-direction: column;
  }
  div.menurespon2 input[type="checkbox"]:checked ~ div.menurespon{
    translate: 0;
  }
  div.menurespon2 input[type="checkbox"]:checked ~ .overlay{
    opacity: 1;
    visibility: visible;
  }
 form.search{
  margin-right: 20px;
 }
 div .menurespon2{
    width: 106% ;
  }
  .menu-toggle{
    display: block;
    font-size: 2.5rem ;
  }

  div.menurespon{
    
    display: block;
    min-width: 319px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #282828;
    translate:-100%;
    transition: translate 0.4s ease;
    z-index: 1;
  }
  div.menurespon li{
    padding-bottom: 30px;
  }
  .ul{
    display: flex;
    flex-direction: column;
  }
  div.menurespon2 input[type="checkbox"]:checked ~ div.menurespon{
    translate: 0;
  }
  div.menurespon2 input[type="checkbox"]:checked ~ .overlay{
    opacity: 1;
    visibility: visible;
  }

  

  div .menurespon3{
    width: 100% ;
  }
  .menu-toggle2{
    display: block;
    font-size: 2.0rem ;
  }

  div.menurespon1{
    
    display: block;
    min-width: 319px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #282828;
    translate:-100%;
    transition: translate 0.4s ease;
    z-index: 1;
  }
  div.menurespon1 li{
    padding-bottom: 30px;
  }
  .ul{
    display: flex;
    flex-direction: column;
  }
  div.menurespon3 input[type="checkbox"]:checked ~ div.menurespon1{
    translate: 0;
  }
  div.menurespon3 input[type="checkbox"]:checked ~ .overlay{
    opacity: 1;
    visibility: visible;
  }
 form.search{
  margin-right: 20px;
 }
 div .menurespon3{
    width: 100% ;
  }
  .menu-toggle2{
    margin-top: 632px;
    display: block;
    font-size: 2.5rem ;
  }

  div.menurespon1{
    
    display: block;
    min-width: 319px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #282828;
    translate:-100%;
    transition: translate 0.4s ease;
    z-index: 1;
  }
  div.menurespon1 li{
    padding-bottom: 30px;
  }
  .ul{
    display: flex;
    flex-direction: column;
  }
  div.menurespon3 input[type="checkbox"]:checked ~ div.menurespon1{
    translate: 0;
  }
  div.menurespon3 input[type="checkbox"]:checked ~ .overlay{
    opacity: 1;
    visibility: visible;
  }
 form.search{
  margin-right: 20px;
 }
 .mySwiper{
  width: 100%;
    height: 250px;
  margin:4% auto;
  margin-bottom: 5%;
  position: relative;
  left: 2%;
 }
 .banner {
 width: 100%;
    height: 250px;
 }
 .imageStyle {
  width: 100%;
  height:250px;
 }
 .align-center {
  width: fit-content;
  /* margin: 0px auto; */
  margin: 6%
}
.text-center{
  margin:50px auto;
}
.text-centerr{
  /* margin-left: 10px; */
}

.hotrespon{
  position: relative;
  right: 11%;
}
.fullbox{
  /* width: 30%; */
  margin:10px;
  padding:5px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  border-radius:18px;
  height: 29.41176rem;
  margin-left:5%;
  background-color:white;
}

.fullboxdetail{
  position: relative;
    left: 2%;
    margin-left: 5px;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius: 18px;
    height: 26.41176rem;
    background-color: white;
    margin-top: 50px;
    width: 83%;
}
.detailrespon{
  margin-left: 215px;
}
.fullorderlist{
  border-Radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 20px;
  background-color: white;
  width: 630px;
  margin: 168px auto 246px auto;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  /* margin-top: 60px; */
  height: 448px;
  position: relative;
  left: 2%;
  /* margin-bottom: 60px; */
  /* margin-left: 73px; */
  
}
.tableorderlist{
  border: 1px solid #fff;
  margin-left: 5px;
  width: 710px;
  font-size: 15px;
  margin-bottom: 30px;
}
.fullorderlist1{
  border-radius: 15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  padding: 20px;
  background-color: white;
  width: 1060px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  margin-top:25px;
  height:370px;
 
}
.fullorderlist3{
  position: relative;
  left: 4%;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 20px;
  background-color: white;
  width: 630px;
  margin:125px auto 0 auto;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  /* margin-top: 25px; */
  height: 370px;
  /* margin-left: 76px; */
  
}
.fullorderlist2{
  position: relative;
  left: 4%;
  border-radius: 15px;
  border-top-right-radius:0px;
  border-top-left-radius:0px;
  padding: 20px;
  background-color: white;
  width: 636px;
  margin: 0 auto 100px auto;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  /* margin-top:25px; */
  height:369px;
  /* margin-left: 73px; */
}
 .tableorderlist2{
  border: 1px solid #fff;
  margin-left: 1px;
  width: 625px;
  font-size: 14px;
  margin-bottom: 30px;
}
.imagelistproduct{
  width: 130px;
  height: 159px;
}
.spanrespon{
font-size: 15px;
}
.spanpricerespon{
  font-size: 15px;
}
.fullboxlistproduct{
  margin:10px;
  padding:0px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  border-radius:18px;
 
}
.cardStyle{
  border-radius:15px;
  padding:30px;
  background-color:white;
  width:300px;
  margin:254px auto;
  box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
  /* margin-top:9%; */
  }
  .cardStyleforsignup{
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    }
    .imagerespon{
      width: 150px;
      height: 150px;
    }
    .imagedetailrespon{
      width: 250px;
      height: 250px;
      margin: 10px 0px;
    }
    .none{
      display: none;
    }
    .cartrespon{
      position: relative;
      right: 4.9%;
    }
    .textcenterfornew{
      position: relative;
      left: 5%;
    }
    .test{
      display: flex;
      font-size: 15px;
      margin: 10px;
      margin-top: 165px;
      /* margin-left: 1px; */
      padding: 35px;
      /* border-radius: 18px; */
      width: 99%;
      background-color: rgb(234,234,234);
      flex-direction: column;
    }
    .cardStylemyprofile{
      border-radius: 15px;
      padding: 30px;
      background-color: white;
      width: 350px;
      margin:118px auto 100px auto;
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
      /* margin-top:5%; */
      }
      .movemyprofile{
        margin-left:45px;
      }
      .truncate-text {
        /* margin-top: 10px; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    
}

@media (max-width: 767px) {
  .pp {
    font-size: 20px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 225px auto 653px 50px;}
  .iframe {
    margin-bottom: 100px;
    margin-left: 55px;
    width: 92%;
    height: 58vh;
}
  .menu-content::before{
    content:"";
    border-width: 20px 27px;
    border-style: solid;
    border-color:transparent transparent #ffff transparent;
    position: absolute;
    right: 94px;
    top: -30px;
    }

  .moving{display: none;}
  .moving2{display: block;
  margin-top: 25px;}
  .menu-content
  {display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 0;
    z-index: 2;
    width: 70%;
    border-radius: 10px;
    padding: 10px /* margin-top: 5px; */ /* height: 100%; */;}
  .search {
    margin: 10px 10px 10px 0;
    padding: 11px;
    border: 1px solid #ccc;
    /* margin-right: 30px; */
    width: 170px;
    font-size: 15px;
    border-radius: 3px;
    border: none;
  }
  .search-bar {
    margin-left: 35px;}
  .menu-dropdown {
    margin-left: 20px;}
  .flex-item a {
    padding: 10px;
    font-size: 18px;
  }
  .flex-item {
    display: flex;
    flex-direction: column;
    padding: 15px;}
  .header-right {
    margin-top: 260px;
    font-size: 18px;}
  div .menurespon3{
    width: 100% ;
  }
  .menu-toggle2{
    display: block;
    font-size: 2.0rem ;
  }

  div.menurespon1{
    
    display: block;
    min-width: 212px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #282828;
    translate:-100%;
    transition: translate 0.4s ease;
    z-index: 1;
  }
  div.menurespon1 li{
    padding-bottom: 30px;
  }
  .ul{
    display: flex;
    flex-direction: column;
  }
  div.menurespon3 input[type="checkbox"]:checked ~ div.menurespon1{
    translate: 0;
  }
  div.menurespon3 input[type="checkbox"]:checked ~ .overlay{
    opacity: 1;
    visibility: visible;
  }
 form.search{
  margin-right: 20px;
 }
 div .menurespon3{
    width: 100% ;
  }
  .menu-toggle2{
    display: block;
    font-size: 2.5rem ;
  }

  div.menurespon1{
    
    display: block;
    min-width: 319px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: black;
    translate:-100%;
    transition: translate 0.4s ease;
    z-index: 1;
  }
  div.menurespon1 li{
    padding-bottom: 30px;
  }
  .ul{
    display: flex;
    flex-direction: column;
  }
  div.menurespon3 input[type="checkbox"]:checked ~ div.menurespon1{
    translate: 0;
  }
  div.menurespon3 input[type="checkbox"]:checked ~ .overlay{
    opacity: 1;
    visibility: visible;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 180px 180px ;
    /* grid-template-rows: 250px 250px; */
   justify-content: center;
   /* position: relative;
   left: 2%; */
}
  .menuItemStyle{
    margin-right: 20px;
    color: #e0e0e0; 
    text-decoration: none; 
    list-style-type: none; 
    margin-left:20px;
    font-weight:500;
    font-size: 13px;
    }
    .menuItemStyle:hover{
      transform: translateX(-5px);
      transition: all 0.5s;
    }
  .but{
    box-shadow: #0b042a 2px 2px 0 0;
  }
  .but:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
    box-shadow: #ffffff  2px 2px 0 0;
    transform: translate(2px, 2px);
  
  }
  
  .hoverr{
    color:rgb(92,92,93);
    text-decoration: none;
    font-weight: 500;
  }
  .hoverr:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
  }
  .hoverrr:hover{
    transform: translateY(-4px);
    transition: all 0.9s;
  }
  .body-customer {
    width: 100%;
    height: fit-content;
    margin: 0px auto;
   
  }
   div .menurespon2{
    width: 103% ;
  }
  .menu-toggle{
    display: block;
    font-size: 2.5rem ;
  }

  div.menurespon{
    
    display: block;
    min-width: 319px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #282828;
    translate:-100%;
    transition: translate 0.4s ease;
    z-index: 1;
  }
  div.menurespon li{
    padding-bottom: 30px;
  }
  .ul{
    display: flex;
    flex-direction: column;
  }
  div.menurespon2 input[type="checkbox"]:checked ~ div.menurespon{
    translate: 0;
  }
  div.menurespon2 input[type="checkbox"]:checked ~ .overlay{
    opacity: 1;
    visibility: visible;
  }
 form.search{
  margin-right: 20px;
 }
 div .menurespon2{
    width: 111% ;
  }
  .menu-toggle{
    display: block;
    font-size: 2.5rem ;
  }

  div.menurespon{
    
    display: block;
    min-width: 239px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #282828;
    translate:-100%;
    transition: translate 0.4s ease;
    z-index: 1;
  }
  div.menurespon li{
    padding-bottom: 30px;
  }
  .ul{
    display: flex;
    flex-direction: column;
  }
  div.menurespon2 input[type="checkbox"]:checked ~ div.menurespon{
    translate: 0;
  }
  div.menurespon2 input[type="checkbox"]:checked ~ .overlay{
    opacity: 1;
    visibility: visible;
  }

  
 form.search{
  margin-right: 20px;
 }
 .mySwiper{
  width: 111%;
    height: 150px;
  margin:4% auto;
  margin-bottom: 5%;
border: none;
position: relative;
left: 1%;
 }
 .banner {
 width: 95%;
    height: 150px;
    border: none;
 }
 .imageStyle {
  width: 100%;
  height:150px;
  border: none;
 }
.align-center{
  /* margin-left: 110px; */
}
.text-center{
  /* margin-left: 36px; */
  font-size: 20px;
  margin-top: 13%;
}
.text-centerr{
  margin-left: 10px;
}
.hotrespon{
  position: relative;
  right: 16%;
}
.fullbox{
  /* width: 39%; */
  margin:10px;
  padding:5px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  border-radius:18px;
  height: 20.41176rem;
  margin-left:20px;
  background-color:white;
}
.imagerespon{
  margin: -13px;
  width: 90px;
  height: 100px;
}
.textcenterespon{
  font-size: 13px;
  font-weight: 700;
}
.fullboxdetail{
  position: relative;
  left: 2%;
  width: 70%;
  font-size: 10px;
  margin:auto;
  padding:15px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  border-radius:18px;
  height: 39.41176rem;
  background-color:white;
  margin-top: 50px;
  margin-bottom: 20%;
  /* margin-left:185px; */
}
.but{
  border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
    background-color: rgb(118, 74, 188);
    color: white;
    border: none;
    /* width: 55%; */
    cursor: pointer;
    text-align: center;
    font-size: 10px;
}
.inputStyle  {
  font-size: 10px;
  border-radius: 5px;
  margin: 10px 10px 10px 0; 
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%; 
  box-sizing: border-box;
}
.detailrespon{
  position: relative;
  margin: auto;
  left: 25%;
}
.imagedetailrespon{
  width: 200px;
  height: 200px;
  margin: 10px 0px;
}
.caption-right{
  display: flex;
  flex-direction: column;
}
.figurerespon{
  margin-top: 70px;
  padding: 15px;
}
.test{
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  /* margin-left: 5px;  */
  padding: 19px; 
  width: 103%;
  background-color: rgb(234,234,234);
}
.text-center-respon{
  margin-bottom: 50px;
  margin-left: 46px;
}

.none{
  display: none;
}
.cartrespon{
  position: relative;
  right: 7%;
}
.fullorderlist{
  border-Radius: 15px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  padding: 20px;
  background-color: white;
  width: 277px;
  margin: 160px auto;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
 
  height:720px;
  margin-bottom: 100px;
  overflow-x: scroll;
  position: relative;
  left: 3%;
}
.tableorderlist{
  border: 1px solid #fff;
  margin-left: -5px;
  width: 347px;
  font-size: 10px;
  margin-bottom: 30px;
  margin-top: 50px;
    


}
.fullorderlist3{
  left: 5%;
  position: relative;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 20px;
  background-color: white;
  width: 250px;
  margin: 100px auto 0 auto;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  /* margin-top: 25px; */
  height: 370px;
 
}
.fullorderlist2{
  left: 5%;
  position: relative;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: 20px;
  background-color: white;
  width: 250px;
  margin: 0 auto 203px auto;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  height: 250px;
}
 .tableorderlist2{
  border: 1px solid #fff;
  margin-left: -5px;
  width: 268px;
  font-size: 15px;
  margin-bottom: 13px;
  font-size: 9px;
}

.fullboxlistproduct{
  position: relative;
  left: 2%;
  /* width: 40%; */
  margin: 10px;
  padding: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  border-radius: 18px;
  height: 18.41176rem;
  background-color: white;
}
.margincomponent{
  margin-top:70px;
}
.imagelistproduct{
  width:90px;
  height: 100px;
  margin:3px
}
.spanrespon{

  font-size: 12px;
  font-weight: 700;
 
  }
  .spanpricerespon{
    font-size: 13px;
    font-weight: 700;

  }
.cardStyle{
  border-radius: 15px;
  padding: 30px;
  background-color: white;
  width: 318px;
  margin:350px auto;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  /* margin-top: 20%; */
  position: relative;
  left: 7%;
  }
  .cardStyleforsignup{
    border-radius: 15px;
    padding: 30px;
    background-color: white;
    width: 240px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    margin-top: 13%;
    position: relative;
    left: 3%;
    }
    .buttonStyle{
      border-radius: 5px;
      margin: 10px 0;
      padding: 10px;
      background-color: #0047b3;
      color: white;
      border: none;
      width: 105%;
      cursor: pointer;
      text-align: center;
     }
     .movingitemlist{
      margin-left:33%;
      font-size: 23px;
    }
    .truncate-text {
      /* margin-top: 10px; */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    div.float-left {
      float: left;
      margin-left: 10px;
      font-size: 13px;
    }
    .text{
      font-weight:700;
      font-size:17px;
      margin:5px;
      text-transform:uppercase;
      margin-left:40px;
    }
    .cardStylemyprofile{
      left: 5%;
      position: relative;
      border-radius: 15px;
      padding: 30px;
      background-color: white;
      width: 266px;
      margin: 163px auto 331px auto;
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  
      }
      .movemyprofile{
        margin-left:0px;
      }
      @keyframes scrollUp {
        from {
          transform: translateY(100%);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
      
      .scroll-animation {
        animation: scrollUp 1s;
      }
      @keyframes scrollRight {
        from {
          transform: translateX(-100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      .scroll-animation2 {
        animation: scrollUp 2s;
      }
      @keyframes scrollRight {
        from {
          transform: translateX(-100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      .scroll-animation3 {
        animation: scrollUp 3s;
      }
      @keyframes scrollRight {
        from {
          transform: translateX(-100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      .scroll-animation-right {
        animation: scrollRight 1s;
      }

      .sidebar {
        width: 27px;
        background: #ffffff;
        /* padding: 20px; */
        height: 55vh;}

        .menu-toggle2{
          margin-top: 445px;
        }
    
} 
/* @media (max-width: 320px) {
  .text-center-respon {
    margin-bottom: 50px;
    margin-left: -44px;
    position: relative;
    left: 11%;
  }

  
} */
@media (max-width: 372px) {
  .productList{
    flex: 1;
    /* padding: 20px; */
  }
  .sidebar {
    width: 15px;
    /* background: #f2f2f2; */
    /* padding: 20px; */
    height: 100vh;}

  .cardStyle {
    border-radius: 15px;
    padding: 30px;
    background-color: white;
    width: 210px;
    margin: auto;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    margin-top: 20%;
    position: relative;
    left: 4%;
  
}
  .text-center-respon {
    margin-bottom: 50px;
    /* margin-left: -30px; */
    position: relative;
    /* left: 7%; */
  }
  .fullbox{
    width: 125px;
  }
  @keyframes scrollUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .scroll-animation {
    animation: scrollUp 1s;
  }
  @keyframes scrollRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .scroll-animation2 {
    animation: scrollUp 2s;
  }
  @keyframes scrollRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .scroll-animation3 {
    animation: scrollUp 3s;
  }
  @keyframes scrollRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .scroll-animation-right {
    animation: scrollRight 1s;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 150px 150px ;
   justify-content: center;
}
div.menurespon2{
  width: 108%;
}
.test {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  /* margin-left: 5px; */
  padding: 19px;
  width: 100%;
  background-color: rgb(234,234,234);}
}
@media (min-width: 280px) and (max-width:300px) {
  .tableorderlist{
    border: 1px solid #fff;
      margin:auto;
      width:290px;
      font-size:8px;
      margin-bottom:10%;
  }
  .fullorderlist{
    border-Radius: 15px;
    padding: 20px;
    background-color: white;
    width: 230px;
    margin:  auto;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    margin-top:20px;
    height:570px;
    margin-bottom: 50px;
}
  .wrapper {
    display: grid;
    grid-template-columns: 147px 130px ;
   justify-content: center;
   position: relative;
   left: 2%;
}
  .text-center-respon {
    margin-bottom: 50px;
    margin-left: -30px;
    position: relative;
    /* left: 8%; */
  }
  .fullbox{
    /* width: 115px; */
  }
  .mySwiper {
    left: 3%;
    position: relative;
    width: 246px;
    height: 150px;
    margin: 4% auto;
}
.imagerespon {
  margin: -13px;
  width: 77px;
  height: 91px;
}
@keyframes scrollUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.scroll-animation {
  animation: scrollUp 1s;
}
@keyframes scrollRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.scroll-animation2 {
  animation: scrollUp 2s;
}
@keyframes scrollRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.scroll-animation3 {
  animation: scrollUp 3s;
}
@keyframes scrollRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.scroll-animation-right {
  animation: scrollRight 1s;
}
}
